.head-line{
    margin-top: 1em;
    display: flex;
    justify-content: center;

}
.head-line svg{
    width: 430px;
    
}
.menus{
    margin-top: 1em;
    display: flex;
    justify-content: center;

    flex-wrap: wrap; 
    border-top: 1px solid #ebebeb;
    border-bottom: 4px double black;
}
.menus button{
    border:none;
    background: none;
    margin: 5px;
    
}
.menus button:hover{
    background-color: beige;
}
.news-img-size{
    max-width: 100%;
    max-height: 250px;
    
}
.news{
    border-bottom: 2px solid black;
    padding-bottom: 10px;

}
#searchIcon { 
    font-size: 3em;
}
#search {
    border: solid 2px lightgray;
    border-radius: 10px;
    width: 40%;
    margin-top: 20.8px;
    margin-left: 12.5%;
    display: none;
    outline: none;
    cursor: text;
}

#clear {
    display: none;
    text-align: end;
    width: 5%;
    margin-top: -1.5em;
    margin-left: 82%;
    display: none; 
}

#clear:hover {
    cursor: pointer;
}

/*side navigation menu */
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #111; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; 
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}